<div class="vertical-centered">
  <div class="header-container">
    <ng-container *ngIf="displayBackIcon$ | async">
      <mat-icon aria-hidden="false" aria-label="Back to previous page" class="clickable" (click)="navigateBack()">
        keyboard_arrow_left
      </mat-icon>
    </ng-container>
    <h1>{{ title$ | async }}</h1>
  </div>

  <div class="flex-container">
    <ng-container *ngFor="let card of cards$ | async">
      <mat-card class="card clickable" (click)="navigateTo(card.routerLink)">
        <mat-card-header>
          <mat-card-title>{{ card.title }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p [innerHTML]="card.content"></p>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
