<ng-container *ngIf="levelMenus?.length">
  <nav class="mat-toolbar mat-primary">
    <ng-container *ngFor="let levelMenu of levelMenus">
      <ng-container *ngIf="levelMenu?.content?.size">
        <button mat-button [matMenuTriggerFor]="menu">{{ levelMenu.title }}</button>
        <mat-menu #menu="matMenu">
          <ng-container *ngFor="let menu of levelMenu.content | keyvalue">
            <button mat-menu-item (click)="navigateTo(menu.value)">{{ menu.value.title }}</button>
          </ng-container>
        </mat-menu>
      </ng-container>
    </ng-container>
  </nav>
</ng-container>
